{% autoescape off %}
Hallo,

du erhältst diese E-Mail, weil du (oder jemand anders) das Zurücksetzen deines Passworts für dein Konto beim WM 2026 Tippspiel angefordert hat.

Klicke auf den folgenden Link, um dein Passwort zurückzusetzen:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Falls du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren.

Der Link ist nur einmalig verwendbar und läuft nach kurzer Zeit ab.

Viele Grüße,
WM 2026 Tippspiel
{% endautoescape %}
